*
{
  box-sizing: border-box;
}

body
{
  background: #FFFFFF;
  text-align: center;
}

#searchInput
{
  width: 100%;
  font-size: 24px;
  border: 1px solid #BBBBBB;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#searchTable
{
  width: 100%;
  font-size: 20px;
  border: 1px solid #BBBBBB;
  border-collapse: collapse;
}

#searchTable tr
{
  border-bottom: 1px solid #BBBBBB;
}

#searchTable tr.header
{
  background-color: #DDDDDD;
}

#searchTable th
{
  text-align: left;
  padding: 4px;
}

#searchTable td
{
  text-align: left;
  white-space: pre;
  padding: 0px;
}
